<%- console.log("USERTABLE:",JSON.stringify(dados)) %>

<table width = 100%>
    <thead>
    <tr>
        <td>ID</td>
        <td>Username</td>
        <td>Senha</td>
    </tr>
    </thead>
    <tbody>
        <% let i;for(i=0; i<dados.length; i++){ %>
        <tr>
            <td><%= dados[i].id %></td>
            <td><%= dados[i].username %></td>
            <td><%= dados[i].password %></td>
        </tr>
       <% } %>
    </tbody>
    <tfoot>
        <tr><td colspan="3">
            <%= `Qtde de registros ${i}` %>
        </td></tr>
    </tfoot>
</table>